

body {
    font-family: monospace;
    color:crimson;
    text-align:center;
    font-size: 30px;
    font-weight: bold;  
    background-color: #0a0a0a; 
    background-size: 100%;
    
   }

#gameresults #results {
    width: 1200px;
    height: 350px;
    top: 63%;
    left: 38%;
    margin-top: -200px;
    margin-left: -250px;
    position: absolute;
    font-family: 'Ink Free';
    color:rgb(110, 40, 190);
    font-size: 50px;
    padding-bottom: 20px;
}
#gameresults #winner {
    

    width: 1200px;
    height: 400px;
    top: 88%;
    left: 38%;
    margin-top: -200px;
    margin-left: -250px;
    position: absolute;
    color: rgb(18, 199, 175);
    font-size: 50px;

}
#choice {
    
    font-size: 30px;
    color: green;
    padding: 10px 50px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: crimson;
    border-width: 3px;
       
}

#gameImages {

    position: absolute;
    left: 28%;
    top: 45%;
    padding-top: 30px;
    
    
    width: 1200px;
    height: 400px;
        
}



     



